@import "tailwindcss";

input[type="range"]::-webkit-slider-thumb {
  @apply appearance-none w-5 h-5 bg-green-600 rounded-full shadow-md cursor-pointer;
}
input[type="range"]::-moz-range-thumb {
  @apply w-5 h-5 bg-green-600 rounded-full shadow-md cursor-pointer border-0;
}
